header{
    text-align: center;
    background-color: rgb(236, 236, 236);
    margin-left: 300px;
    margin-right: 300px;
}

body, details{
    text-align: center;
    background-color: rgb(150, 148, 146);
}

.button{
    text-decoration: none;
    color: black;
}

body .button:hover{
    color: brown;
}

.Details{
    text-decoration: none;
    color: black;
}

.age{
    display: block;
}

.genres{
    display: inline-flex;
}
